@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    background-color: #201e33;
    color: #dfd6d6;
}


  /* Estilos gerais para o modo claro */
  body.light {
    @apply bg-white text-gray-900;
  }

  body.light .card {
    @apply bg-gray-100 text-gray-800 border-gray-300;
  }

  body.light header, body.light footer {
    @apply bg-white text-gray-900;
  }

